/* GOOGLE FONTS */

/* FONTS HEADINGS (POPPINS 400, 600) FONT BODY (OPEN SANS 400) */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:ital,wght@0,600;1,400&display=swap');

:root {
    /* COLORS PRIMARY*/
    --Violet: hsl(257, 40%, 49%);
    --Soft-Magenta: hsl(300, 69%, 71%);
    --white-smoke: #f3f3f3;

    /* FONTS */
    --font-headings: 'Poppins', sans-serif;
    --font-body: 'Open Sans', sans-serif;
}

/* GLOBAL STYLES */

h1, p {
    font-family: var(--font-headings, sans-serif);
}

body {
    background-color: var(--Violet);
    background-image: url("./images/bg-desktop.svg");
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--white-smoke);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

li {
    list-style-type: none;
}

/* HEADER */

header {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

header img {
    padding-top: 35px;
    padding-left: 45px;
    width: 125px;
    height: auto;
}

/* MAIN SECTIONS */

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 45px;
    max-width: 1200px;
    max-height: 50px;
}

.mockups-hero img {
    height: 365px;
    width: auto;
    padding: 10px;
}

.hero {
    padding-top: 10px;
}

.hero h1 {
    font-size: 40px;
    margin: 10px;
    font-family: var(--font-headings);
    padding-right: 100px;
}

.hero p {
    font-size: 18px;
    padding-bottom: 10px;
    padding-right: 60px;
    padding-top: 15px;
    margin: 10px;
    font-family: var(--font-body);

}

.social-icons svg {
    width: 25px;
    height: auto;
}

.social-icons ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-top: 150px;
}

.svg-icon {
    fill: #f3f3f3;
    transition: width 3ms ease;
}

.svg-icon:hover {
    width: 30px;
    height: auto;
    fill: var(--Soft-Magenta);
    border-color: var(--Soft-Magenta);
}

.social-icons li svg {
    color: red;
    margin: 5px;
    padding: 5px;
    border: 1px solid white;
    border-radius: 25px;
}

/* BUTTON STYLE */

.btn-register {
    cursor: pointer;
    font: var(--font-body);
    border-radius: 20px;
    border: 0;
    height: 40px;
    font-size: 17px;
    width: 150px;
    padding: 8px;
    color: var(--Violet);
    transition: background-color 10ms ease;
    margin: 10px;
    box-shadow: -1px 2px 12px 2px rgba(0, 0, 0, 0.53);
}

.btn-register:hover {
    background-color: var(--Soft-Magenta);
    color: whitesmoke;
}

/* FOOTER */

footer {
    left: 500px;
    position: absolute;
    bottom: 0;
}

.attribution {
    font-size: 15px;
    font-family: var(--font-headings, sans-serif);
    color: blanchedalmond;
}

.attribution a {
    text-decoration: none;
    color: var(--white-smoke);
    transition: color 2ms ease;
}

.attribution a:hover {
    color: var(--Soft-Magenta);
    font-size: 16px;
}


/* MEDIA QUERY */

@media only screen and (max-width: 375px) {

    body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    header img {
        padding-top: 35px;
        padding-bottom: 35px;
        padding-right: 250px;
        width: 125px;
        height: auto;
    }

    .mockups-hero img {
        height: 175px;
        width: auto;
        padding: 5px 5px 35px;
    }

    .grid {
        grid-template-columns: 1fr;
        padding: 15px;
    }

    .hero h1 {
        font-size: 20px;
        text-align: center;
        padding-right: 35px;
    }

    .hero p {
        font-size: 12px;
        text-align: center;
        padding-top: 5px;
        padding-right: 35px;

    }

    .social-icons ul {
        justify-content: center;
        padding-right: 100px;
        padding-top: 15px;
    }

    .btn-register {
        width: 50%;
        margin: 15px 50px;
    /
    }


    footer {
        display: none;
    }
}
